<script src="/dependencies/jquery.min.js"></script>
<div id="curso" class="container mt-4">
  <div class="row">
    <div class="col-sm">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cursos</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>Cursos da UFAM <a class="btn btn-dark" href="/curso/create" role="button" data-toggle="tooltip"
          data-placement="top" title="Cria um novo curso">+</a></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sigla</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% cursos.forEach(function(curso) { %>
          <tr>
            <th scope="row"><%= curso.id %></th>
            <td><%= curso.sigla %></td>
            <td><%= curso.nome %></td>
            <td>
              <button id="but-ver-<%= curso.id %>" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal" data-id="<%= curso.id %>" data-sigla="<%= curso.sigla %>" data-nome="<%= curso.nome %>" data-descricao="<%= curso.descricao %>"><i class="fa fa-search" aria-hidden="true"></i></button>
              <a class="btn btn-warning btn-sm" href="/curso/update/<%= curso.id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-danger btn-sm" href="/curso/delete/<%= curso.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <hr />
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-body">
              <ul class="list-group">
                  <li class="list-group-item active"><b><span id="modal-cabeca"></span></b><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button></li>
                  <li class="list-group-item"><div id="modal-corpo"></div></li>
              </ul>
          </div>
      </div>
    </div>

</div>


<script>
  $(document).ready( function () {
    $("[id*='but-ver-']").click(function(event){

      var data = $(event.delegateTarget).data();
      
      var cabeca = `${data.id}. ${data.nome} (${data.sigla})`;
      var corpo = data.descricao;
      
      $("#modal-cabeca").text(cabeca);
      $("#modal-corpo").text(corpo);

    })
  });
</script>